@keyframes spins{
  from{
    transform: rotate(0);
  }to{
    transform: rotate(360deg);
  }
}
#displayContent{
  display: none;
}
#loader{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-top-color: #B74040;
  /*border-right-color:
  border-bottom-color:
  border-left-color:*/
  border-radius: 50%;
  animation: spins 2s infinite;
}
.weather_frame * {
  box-sizing: border-box;
}
.weather_frame{
  position: absolute;
  padding: 10px;
  top: 50%;
  left:0;
  right:0;
  margin: 0 auto;
  width: 100%;
  height:100%;
  background: rgba(255,255,255,0.7);
  box-shadow: 0px 2px 12px 5px rgba(0,0,0,0.16);
  transform: translateY(-50%);
  z-index: 1111;
  font-family: AvenirNext-Regular, Arial, Helvetica, sans-serif;
  -webkit-backdrop-filter: blur(10px);
}
.weather_conditions{
  width: 50%;
  float: left;
  height: auto;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}
.weather_conditions--long{
  width: 100%;
}
.weather_conditions--temp{
  height: 120px;
  padding-right: 10px;
  text-align: right;
  margin-bottom: 0px;
}
#temp{
  font-size: 50px;
  clear: both;
  display: block;
}
#tempMin, #tempMax{
  font-size: 28px;
  margin: 0 10px;
  transition: all 0.2s ease;
  padding-top: 0px;
  height: 36px;
}
.weather_conditions--desc{
  height: 120px;
  padding-left: 10px;
  font-size: 16px;
  text-align: left;
  margin-bottom: 0px;
}
#weatherIcon i{
  font-size: 50px;
  margin-top: 10px;
}
#weatherDesc {
  font-size: 14px;
}
.page-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 520px){
  .weather_frame{
    width: 430px;
    height: 340px;
    border-radius: 10px;
  }
}
/* Wind: East , 25km/hr:
font-family: AvenirNext-Regular;
font-size: 18px;
color: #30534F;
/* Humidity : 2000mb:
font-family: AvenirNext-Regular;
font-size: 18px;
color: #30534F;
/* Light Showers:
font-family: AvenirNext-Regular;
font-size: 16px;
color: #30534F;
/* Oval:
border: 5px solid #0B0B0B;
/* Rectangle 4:
border: 6px solid #050505;
border-radius: 100px;
/* Harare, ZW:
font-family: AvenirNext-Regular;
font-size: 36px;
color: #30534F;
/* 23C:
font-family: AvenirNext-Regular;
font-size: 24px;
color: #30534F;
/* 37 C: *
font-family: AvenirNext-Regular;
font-size: 50px;
color: #30534F;
/* 23C:
font-size: 18px;
color: #30534F;*/


